# Copier ce fichier en .env et renseigner les valeurs

PORT=3000

# Azure Cosmos DB
COSMOS_ENDPOINT=https://<account>.documents.azure.com:443/
COSMOS_KEY=<primary-key>
COSMOS_DATABASE=todo-db
COSMOS_CONTAINER=todos

# Azure Key Vault
KEY_VAULT_URL=https://<vault-name>.vault.azure.net/

# Azure Blob Storage
BLOB_STORAGE_ACCOUNT=<account-name>
BLOB_CONTAINER=uploads
