# Port d'écoute du serveur Express
PORT=3000

# ── Azure Cosmos DB ────────────────────────────────────────────────────────────
COSMOS_CONNECTION_STRING=changeMe

# ── Azure Blob Storage ─────────────────────────────────────────────────────────
BLOB_CONNECTION_STRING=changeMe
